.consent-banner {
	display: grid;
	min-height: 100px;
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 99;

	.cookie-preferences {
		display: grid;
		grid-template-columns: repeat( 4, 1fr );
		grid-template-rows: auto 1fr;
		grid-gap: 10px;
		align-items: center;

		.apply-cookie-preferences {
			grid-column-start: -1;
		}

		label {
			font-size: 1em;
		}

		input {
			margin-right: 10px;
		}
	}

	.button-row {
		display: grid;
		grid-template-columns: 3fr repeat( 3, 1fr );
		grid-gap: 10px;
		align-items: center;

	}

	.consent-updated-message p {
		display: grid;
		grid-template-columns: 1fr 10px;
		grid-gap: 10px;

		button {
			grid-column-start: -1;
			margin-bottom: 21px;
		}
	}
}
