.consent-banner {
	display: grid;
	width: 100%;
	padding: 10px 20px 40px;

	.cookie-preferences {
		display: grid;
		grid-template-columns: repeat( 4, 1fr );
		grid-template-rows: auto 1fr;
		grid-gap: 10px;
		align-items: center;

		.apply-cookie-preferences {
			grid-column-start: -1;
			z-index: 99;
		}

		label {
			font-size: 1em;
		}

		input {
			margin-right: 10px;
		}
	}

	.button-row {
		display: grid;
		grid-template-columns: 3fr repeat( 3, 1fr );
		grid-gap: 10px;

		.cookie-consent-message {
			align-self: center;
		}

		button:nth-child(2):nth-last-child(2) {
			grid-column: 3 / span 1;
		}
	}
}

.consent-updated-message p {
	display: grid;
	grid-template-columns: 1fr 10px;
	grid-gap: 10px;
	align-items: center;

	button {
		grid-column-start: -1;
		margin-bottom: 21px;
	}
}
